<template>
  <div>
      <div class="bg-purple-600 text-white py-3">
        <div class="container flex mx-auto justify-between">
          <div id="logo"><a href="#">logo</a></div>
          <nav id="items">
            <ul class="flex">
              <li class="mr-3"><a href="#">Iniciar sesion</a></li>
              <li><a href="#">Registrarse</a></li>
            </ul>
          </nav>
        </div>

      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>